APP_NAME=php8phalcon5

APP_ROOT=/Users/username/html/php8phalcon5
PHP_VERSION=8.4.17
PHALCON_VERSION=5.10.0

APP_PORT=80
PMA_PORT=8080
DB_PORT=3306

MYSQL_DATABASE=skeleton
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=12345678
MYSQL_USER=skeleton
MYSQL_PASSWORD=12345678

REDIS_PORT=6379

ES_VERSION=8.17.2
ES_PORT=9200
ES_PASSWORD=12345678
