.footer {
    background: $gray-700;
    color: $white;
    position: relative;
    overflow-x: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 30vw;
        right: -70vw;
        bottom: 0;
        z-index: 1;
        background: $colorInnobotics;
        transform: skew(-30deg);
        transform-origin: 50% 50%;
    }

    &>* {
        position: relative;
        z-index: 5;
    }
}
