/cache/*
!/cache/.gitkeep
/data/*
!/data/sitemap
!/data/sitemap/.gitkeep
!/data/sitemap/.htaccess
!/data/.gitkeep
!/data/.htaccess
!/data/dummy.pdf
/config/development/
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
composer.phar
/vendor/
.idea/
.phalcon/
.env
/components/
.DS_Store
/node_modules/
/log/*
!/log/.gitkeep
/data/images/*
!/data/images/.gitkeep
/data/files/*
!/data/files/.gitkeep
